{{- $dh_username := "" -}}
{{- $dh_password := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $dh_credentials := (bitwarden "item" "dockerhub") -}}
{{-   $dh_username = $dh_credentials.login.username -}}
{{-   $dh_password = $dh_credentials.login.password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $dh_username = env "DOCKERHUB_USERNAME" -}}
{{-   $dh_password = env "DOCKERHUB_PASSWORD" -}}
{{- end -}}
{{- if (and (ne $dh_username "") (ne $dh_password "")) -}}
{{ "DockerHub" | comment "# " }}
export DOCKERHUB_USERNAME="{{ $dh_username }}"
export DOCKERHUB_PASSWORD="{{ $dh_password }}"
dockerlogin() {
  echo "${DOCKERHUB_PASSWORD}" | docker login --username "${DOCKERHUB_USERNAME}" --password-stdin
}
{{ println }}
{{- end -}}

{{- $tf_token := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $tf_token = (bitwarden "item" "terraform").login.password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $tf_token = env "TF_TOKEN" -}}
{{- end -}}
{{- if ne $tf_token "" -}}
{{ "Terraform" | comment "# " }}
export TF_TOKEN="{{ $tf_token }}"
tflogin() {
  if [ ! -f "${HOME}/.terraformrc" ]; then
    echo "credentials \"app.terraform.io\" { token = \"${TF_TOKEN}\" }" >"${HOME}/.terraformrc"
  fi
}
{{ println }}
{{- end -}}

{{- $gh_token := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $gh_token = (bitwarden "item" "github").login.password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $gh_token = env "GITHUB_TOKEN" -}}
{{- end -}}
{{- if ne $gh_token "" -}}
{{ "GitHub" | comment "# " }}
export GITHUB_TOKEN="{{ $gh_token }}"
{{ println }}
{{- end -}}

{{- $bws_token := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $bws_token = (bitwarden "item" "bws").login.password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $bws_token = env "BWS_ACCESS_TOKEN" -}}
{{- end -}}
{{- if ne $bws_token "" -}}
{{ "Bitwarden Secrets Manager CLI" | comment "# " }}
export BWS_ACCESS_TOKEN="{{ $bws_token }}"
{{ println }}
{{- end -}}

{{- $bw_clientsecret := "" -}}
{{- $bw_clientid := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $bw_clientsecret = env "BW_CLIENTSECRET" -}}
{{-   $bw_clientid = env "BW_CLIENTID" -}}
{{- end -}}
{{- if (and (ne $bw_clientsecret "") (ne $bw_clientid "")) -}}
{{ "Bitwarden Password Manager CLI" | comment "# " }}
export BW_CLIENTSECRET="{{ $bw_clientsecret }}"
export BW_CLIENTID="{{ $bw_clientid }}"
{{ println }}
{{- end -}}
