{{- $dh_username := "" -}}
{{- $dh_password := "" -}}
{{- if eq (env "DOTFILES_AUTH") "lastpass" -}}
{{-   $dh_credentials := (index (lastpass "chezmoi/dockerhub") 0) -}}
{{-   $dh_username = $dh_credentials.username -}}
{{-   $dh_password = $dh_credentials.password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $dh_username = env "DOCKERHUB_USERNAME" -}}
{{-   $dh_password = env "DOCKERHUB_PASSWORD" -}}
{{- end -}}
{{- if (and (not (eq $dh_username "")) (not (eq $dh_password ""))) -}}
{{ "DockerHub" | comment "# " }}
export DOCKERHUB_USERNAME="{{ $dh_username }}"
export DOCKERHUB_PASSWORD="{{ $dh_password }}"
dockerlogin() {
  echo "${DOCKERHUB_PASSWORD}" | docker login --username "${DOCKERHUB_USERNAME}" --password-stdin
}
{{ println }}
{{- end -}}

{{- $tf_token := "" -}}
{{- if eq (env "DOTFILES_AUTH") "lastpass" -}}
{{-   $tf_token = (index (lastpass "chezmoi/terraform") 0).password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $tf_token = env "TF_TOKEN" -}}
{{- end -}}
{{- if (not (eq $tf_token "")) -}}
{{ "Terraform" | comment "# " }}
export TF_TOKEN="{{ $tf_token }}"
tflogin() {
  if [ ! -f "${HOME}/.terraformrc" ]; then
    echo "credentials \"app.terraform.io\" { token = \"${TF_TOKEN}\" }" >"${HOME}/.terraformrc"
  fi
}
{{ println }}
{{- end -}}

{{- $gh_token := "" -}}
{{- if eq (env "DOTFILES_AUTH") "lastpass" -}}
{{-   $gh_token = (index (lastpass "chezmoi/github") 0).password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $gh_token = env "GITHUB_TOKEN" -}}
{{- end -}}
{{- if (not (eq $gh_token "")) -}}
{{ "GitHub" | comment "# " }}
export GITHUB_TOKEN="{{ $gh_token }}"
{{ println }}
{{- end -}}

