{{- $infisical_client_secret := "" -}}
{{- $infisical_client_id := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $infisical_client_credentials := (bitwarden "item" "infisical") -}}
{{-   $infisical_client_secret = $infisical_client_credentials.login.password  -}}
{{-   $infisical_client_id = $infisical_client_credentials.login.username -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $infisical_client_secret = env "INFISICAL_CLIENT_SECRET" -}}
{{-   $infisical_client_id = env "INFISICAL_CLIENT_ID" -}}
{{- end -}}
{{- if (and (ne $infisical_client_id "") (ne $infisical_client_secret "")) -}}
{{ "Infisical" | comment "# " }}
export INFISICAL_CLIENT_SECRET="{{ $infisical_client_secret }}"
export INFISICAL_CLIENT_ID="{{ $infisical_client_id }}"
infisical_login() {
  infisical login --method=universal-auth --client-id="${INFISICAL_CLIENT_ID}" --client-secret="${INFISICAL_CLIENT_SECRET}" --silent --plain
}
{{ println }}
{{- end -}}

{{- $dh_password := "" -}}
{{- $dh_username := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $dh_credentials := (bitwarden "item" "dockerhub") -}}
{{-   $dh_password = $dh_credentials.login.password -}}
{{-   $dh_username = $dh_credentials.login.username -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $dh_password = env "DOCKERHUB_PASSWORD" -}}
{{-   $dh_username = env "DOCKERHUB_USERNAME" -}}
{{- end -}}
{{- if (and (ne $dh_username "") (ne $dh_password "")) -}}
{{ "DockerHub" | comment "# " }}
export DOCKERHUB_PASSWORD="{{ $dh_password }}"
export DOCKERHUB_USERNAME="{{ $dh_username }}"
docker_login() {
  echo "${DOCKERHUB_PASSWORD}" | docker login --username "${DOCKERHUB_USERNAME}" --password-stdin
}
{{ println }}
{{- end -}}

{{- $tf_token := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $tf_token = (bitwarden "item" "terraform").login.password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $tf_token = env "TF_TOKEN" -}}
{{- end -}}
{{- if ne $tf_token "" -}}
{{ "Terraform" | comment "# " }}
export TF_TOKEN="{{ $tf_token }}"
tf_login() {
  if [ ! -f "${HOME}/.terraformrc" ]; then
    echo "credentials \"app.terraform.io\" { token = \"${TF_TOKEN}\" }" >"${HOME}/.terraformrc"
  fi
}
{{ println }}
{{- end -}}

{{- $gh_token := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $gh_token = (bitwarden "item" "github").login.password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $gh_token = env "GITHUB_TOKEN" -}}
{{- end -}}
{{- if ne $gh_token "" -}}
{{ "GitHub" | comment "# " }}
export GITHUB_TOKEN="{{ $gh_token }}"
{{ println }}
{{- end -}}

{{- $bw_client_secret := "" -}}
{{- $bw_client_id := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $bw_client_credentials := (bitwarden "item" "bitwarden") -}}
{{-   $bw_client_secret = $bw_client_credentials.login.password -}}
{{-   $bw_client_id = $bw_client_credentials.login.username -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $bw_client_secret = env "BW_CLIENTSECRET" -}}
{{-   $bw_client_id = env "BW_CLIENTID" -}}
{{- end -}}
{{- if (and (ne $bw_client_secret "") (ne $bw_client_id "")) -}}
{{ "Bitwarden Password Manager CLI" | comment "# " }}
export BW_CLIENTSECRET="{{ $bw_client_secret }}"
export BW_CLIENTID="{{ $bw_client_id }}"
{{ println }}
{{- end -}}
