{{- $gh_token := "" -}}
{{- if eq (env "DOTFILES_AUTH") "bitwarden" -}}
{{-   $gh_token = (bitwarden "item" "github").login.password -}}
{{- end -}}
{{- if eq (env "DOTFILES_AUTH") "" -}}
{{-   $gh_token = env "GITHUB_TOKEN" -}}
{{- end -}}
{{- if eq $gh_token "" -}}
{{-   fail "Could not infer GitHub token" -}}
{{- end -}}

{{- $gh_user := (fromJson (output "curl" "-s" "-H" (printf "Authorization: Bearer %s" $gh_token) "https://api.github.com/user")) -}}
{{- $gh_name := $gh_user.login -}}
{{- $gh_id := $gh_user.id -}}

#!/usr/bin/env bash
set -eo pipefail

echo "https://{{ $gh_name }}:{{ $gh_token }}@github.com" > "${HOME}/.git-credentials"
git config --global user.email "{{ $gh_id }}+{{ $gh_name }}@users.noreply.github.com"
git config --global user.name "{{ $gh_name }}"
git config --global init.defaultBranch "master"
git config --global credential.helper "store"
git config --global safe.directory "*"
git config --global core.editor "vim"
